.entry-body {
  width: 100%;
  align-items: center;
  margin-top: 10%;
}

.entry-image {
  height: 8vh;
  width: 8vh;
  border-radius: 1.2vh;
  margin-right: 1vh;
}

.entry-right-body {
  flex-direction: column;
  justify-content: center;
}

.entry-title {
  font-weight: 700;
  font-size:2.5vh;
  color: #c9d0e3;
  margin: 0px 0px 2px;
}

.entry-subtitle {
  font-weight: 400;
  font-size: 12px;
  color: #c4d0e37c;
  margin: 0;
}
