.screen-container {
  width: 92vw;
  height: 100vh;
  background-color: #1e2a3e;
  border-radius: 2vh;
  background-color: #1e2a3e;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #2ed1c1 18vh
    ),
    repeating-linear-gradient(rgb(80, 53, 255), #011627);
}

.flex {
  display: flex;
}
