.albumInfo-card {
  margin-top: 0.51vh;
  width: 80%;
}

.albumInfo-card p {
  margin: 0.5vh auto !important;
}

.albumName-container {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  color: #4331e0;
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 12s linear infinite;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.album-info {
  font-size: 2vh;
  font-weight: 800;
  color: #2b272b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.album-release {
  font-size: 1.7vh;
  font-weight: 800;
  color: #aeff00;
  margin-top: 2vh;
  margin-left: 8vh;
}
