.albumImage {
  width: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.albumImage img {
  margin-top: 5vh;
  border-radius: 4vh;
  width: 100%;
  aspect-ratio: 1;
}

.albumImage-shadow {
  -webkit-filter: blur(2vh);
  filter: blur(2vh);
  width: 90%;
  position: absolute;
  z-index: -1;
  top: 20px;
}
